/*
Project: Calculator - Odin Project Foundation
Author : Lorenzo Cane

Last version: 20/01/2026
*/

*, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #FFD778;

}

.body{
    background: #FFD778;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
    margin-bottom: 2rem;
    background: #FFD778;

}

.calculatorContainer{
    max-width: 300px;
    width: 130%;
    border-radius: 1rem;
    background: #999999;
    box-shadow: 5px 5px 12px rgba(0,0,0,0.5);
}


.display{
    display: flex;
    flex-direction: column;
    background: #212122;
    background-color: #212122;
    margin: 1em;
    color : #66FF00;
    padding: 1em;
    border: #212122 1rem;
    border-radius: 8px;
    text-align: right;
}

.valueScreen{
    width: 100%;
    padding: .650rem;
    background: #212122;
}

.keybord{
    display: grid;
    grid-gap: .5rem;
    padding: 1rem;
    background: #E6E6E6;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.row{
    display: grid;
    height: 100%;
    grid-gap: 0.7rem;
    padding: 0.8rem;
    grid-template-columns: repeat(4, 1fr);
    background: #E6E6E6;
}

button{
    font-size: 16px;
    font-weight: 700;
    padding: 0.3rem 0;
    border-radius: 1rem;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

button:hover{
    transform: translateY(-0.2rem);
}

.allClean:hover, .clear:hover{
    background-color: #FF8A78;
}

.digit:hover, .decimal:hover{
    background-color: #78A3FF;
}

.operator:hover{
    background-color: #FF78E6;
}

#equals{
    grid-column: 3/5;
}

.footer{
    margin-top: 2rem;
    font-weight: 200;
}